body {
    background-color: rgb(59, 98, 226);
}

.name-title {
    text-shadow: 4px 5px 6px lightblue;
    text-align: center;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}