body {
    background-image: url("/Images/portfolio-background.jpg");
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    width: 90%;
}

.image-gallery {
    color: white;
    box-sizing: border-box;
    padding: 2rem;
    background-color: rgba(33, 33, 33, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
    height: 60vh;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.image-gallery img {
    margin: 1rem;
    transition: all 0.25s;
}

.category-list {
    color: white;
    box-sizing: border-box;
    padding: 2rem;
    background-color: rgba(33, 33, 33, 0.5);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.category-list button {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: transparent;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    border: 2px solid white;
    cursor: pointer;
    transition: color 0.25s, background-color 0.25s;
}

.category-list button:hover {
    background-color: white;
    color: black;
}

.image-gallery::-webkit-scrollbar {
    background-color: #333;
}

.image-gallery::-webkit-scrollbar-thumb {
    background-color: #555;
}

.image-gallery::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.image-gallery img {
    width: 20rem;
    transition: width 0.25s;
}

.image-gallery img:hover {
    width: 22rem;
    box-shadow: 0 0 5px white;
}

@media (max-width: 1024px) {
    .category-list {
        padding: 1rem;
    }

    .category-list button {
        font-size: 16px;
        padding: 0.25rem;
        margin: 0.25rem 0.25rem;
        border: 2px solid white;
    }

    .image-gallery {
        padding: 1rem;
        overflow-x: hidden;
    }

    .image-gallery img {
        width: 5rem;
        transition: width 0.5s;
    }

    .image-gallery img:hover {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .category-list button {
        font-size: 12px;
    }
}