model-viewer {
  width: auto;
  max-width: 1200px;
  height: 700px;
  background-color: #efefef;
  margin: 0 auto;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0px;
  width: 45px;
  height: 38px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
}

.HotspotAnnotation p {
  color: #333;
  line-height: 22px;
  font-weight: 300;
}

.HotspotAnnotation h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

model-viewer::part(default-progress-bar) {
  height: 30px;
  background-color: #E89B36;
}

/* AR Rules */
#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

body {
  background-color: black;
}

model-viewer {
  transform: translateX(250px);
  width: auto;
  max-width: 1200px;
  height: 450px;
  background-color: transparent;
  margin: 0 auto;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0px;
  width: 45px;
  height: 38px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
}

.HotspotAnnotation p {
  color: #333;
  line-height: 22px;
  font-weight: 300;
}

.HotspotAnnotation h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

model-viewer::part(default-progress-bar) {
  height: 30px;
  background-color: #E89B36;
}

/* AR Rules */
#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.header-banner {
  background-color: black;
  height: 17.5%;
  width: 1920px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  width: 100%;
  max-width: 400px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  margin: 0;
  transform: translateX(-450px);
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin: 0;
  transform: translateX(-450px);
}

.title-1 {
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 32px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-715%);
  z-index: 2;
  margin: 0;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transition: 0.5s;
}

.title-1:hover {
  color: gray;
}

.menu {
  text-align: right;
  bottom: 0;
  right: 0;
  padding: 20px;
  transition: 1s;
}

.menu li {
  transition: 1s;
  transform-origin: right;
}

.menu a {
  text-decoration: none;
  outline-style: outset;
  outline-color: white;
}

.menu-link {
  color: white;
  font-size: xx-large;
  background-color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: inline-block;
  text-shadow: 12px 12px 12px black;
  transition: 1s;
  transform-origin: right;
}

.menu-link-content {
  transition: transform 1s;
  transform-origin: right;
  transition: 1s;
}

.menu-link:hover .menu-link-content {
  transform: scaleX(0);
  color: gray;
  transition: 1s;
}

.menu a:hover {
  transition: 1s;
  color: gray;
  transform: scaleX(5);
}

.text-container {
  position: absolute;
  top: 25%;
  left: 20px;
  transform: translateX(50%);
  color: white;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}

.A-Title {
  transform: translateX(-250px);
  font-size: xxx-large;
  font-family: "Courier New", Courier, monospace;
}

.ContactButton {
  transition: 0.3s;
  font-size: xx-large;
  background-color: black;
  outline-color: white;
  outline-style: groove;
  color: white;
  text-decoration: none;
}

.ContactButton:hover {
  color: gray;
  transition: 0.3s;
  outline-color: gray;
}

#about-us {
  margin-bottom: 40px;
}

#founders section {
  margin-bottom: 40px;
}/*# sourceMappingURL=main.css.map */